<div id="container">
	<div id="sidebar">
	    <%- partial('admin/adminmenu_box.ejs') %>
	</div>
	<div id="browser" class="main-box">
		<%- partial('admin/browser_box.ejs') %>
	</div>
	<div id="object" style="display: block; ">
	    <div class="ajax"></div> 
	</div>
</div>