<div id="container">
    <div id="sidebar">
        <%- partial('feed/context_box.ejs') %>
    </div>
	<div id="feed" class="main-box dashboard-left" rel="all"> 
		<%- partial('feed/feed_box.ejs') %>
	</div>
	<div class="dashboard-right">
        <%- partial('feed/stickies_box.ejs') %>
	</div>
</div> 