
<form class="statuses criteria">
    <h2>Context</h2>
	<ul class="folders">
		<li rel="">
			<a>All</a>
			<span>3</span>
		</li>
		<li rel="">
			<a>Urgent</a>
			<span>6</span>
		</li>
		<li rel="">
			<a>Cocweb</a>
			<span>3</span>
		</li>
	</ul>
</form> 