<form class="folders criteria">
    <h2>Admin</h2>
    <ul class="folders">
		<li rel="users">
			<a>Users</a>
			<span>3</span>
		</li>
		<li rel="apps">
			<a>Applications</a>
			<span>6</span>
		</li>
		<li rel="triggers">
			<a>Triggers</a>
			<span>2</span>
		</li>
		<li rel="badges">
			<a>Badge</a>
			<span>&nbsp;</span>
        </li>
    	<li rel="trigger">
			<a>Trigger</a>
			<span>blah</span>
		</li>
	</ul>
    <input type="hidden" name="subject" value="apps"/>
</form>